################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages.config
/packages
/Debug
/ConsoleApplication1.vcxproj.user
/ConsoleApplication1.vcxproj.filters
/ConsoleApplication1.vcxproj
/ConsoleApplication1.VC.VC.opendb
/ConsoleApplication1.VC.db
/ConsoleApplication1.sln
/.vs/ConsoleApplication1/v14
